html,
body {
  height: 100vh;
  overflow: hidden;
  background-color: #1A120B;
}

.main {
  overflow: scroll;
  overflow-x: hidden;
  height: 100vh;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.main > div {
    width: 90%;
    height: 100vh;
    margin : 5% 5% 5% 5%;
    scroll-snap-align: center;
    position: relative;
}


.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
    filter: blur(0);
    transition: all 3s;
}

h1, h2, a, li, p {
  color: #D5CEA3;
}

h1 {
  text-align: center;
}

.icon {
  width: 10vh;
  height: 10vh;
}

.icon-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}


.title-container {
  padding-top: 10vh;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content:space-evenly;
}

.title-container > div {
  width: 30vw;
  
}

.pict {
  width: 20vw ;
  border-radius: 10px;
}

.pict-container {
  align-items: center;
  justify-content: center;
  display: flex;
  
}

.nav {
  text-align: center;
  margin-top: 30px;
}

.ex-pro > div {
  opacity: 0.5;
}

.ex-pro > div:hover {
  opacity: 1;
}

@media only screen and (max-width: 600px) { /* PHONE */
  .title-container {
    flex-direction: column;
    justify-content: start;
  }

  .title-container > div {
    width: 90vw;
  }

  .pict {
    width: 30vw;
  }

  .icon {
    width: 5vh;
    height: 5vh;
    margin : auto
  }

  .phone {
    display: none;
  }

  .modal {
    height: 80vh;
    margin : auto;
    background-color: #D5CEA3;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    top: 15%;
    overflow: auto; 
    border-radius: 10px;
    display: none;
    padding-left: 20px;
  }


  .button {
    width: 20px;
    height: 20px;
    color: #D5CEA3;
    position:relative;
  }
  
  .button:hover ~ .modal {
    display: block;
  }

  .modal:hover {
    display: block;
  }

  .modal > div > h2, .modal > div > p, .modal > div > li {
    color :#1A120B;
  }
}

@media only screen and (min-width: 600px) { /* PC */
  .ex-pro > div {
    margin-top: 50px;
    opacity: 0.5;
  }

  .ex-pro > div {
    margin-top: 50px;
  }
  .ex-pro {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .pc {
    display : none
  }
}