html,
body {
  height: 100vh;
  overflow: hidden;
  background-color: #171717;
}

.main {
  overflow: scroll;
  overflow-x: hidden;
  height: 100%;
}


.part {
    height: 100vh;
    margin : 5% 5% 0% 5%;
    padding-top: 30px;
    overflow:visible;
}

.separator {
  background-color: antiquewhite;
  height: 1px;
  width: 90%;
  margin-left : 5%;
  border-radius: 10%;
  margin-top: 20px;
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
    filter: blur(0);
    transition: all 3s;
}

h1, h2, a, li, p {
  color:antiquewhite;
}

h1 {
  text-align: center;
}

.part > h1 {
  font-size: 4vw;
}

.icon {
  width: 10vh;
  height: 10vh;
}

.icon-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}


.title-container {
  padding-top: 10vh;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content:space-evenly;
}

.title-container > div {
  width: 30vw;
  
}

.pict {
  width: 20vw ;
  border-radius: 10px;
}

.pict-container {
  align-items: center;
  justify-content: center;
  display: flex;
  
}

.nav {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 30px;
}

.nav > p, .nav > a {
  width: 10vw;
}


@media only screen and (max-width: 1200px) { /* PHONE */
  .title-container {
    flex-direction: column;
    justify-content: start;
  }

  .title-container > div {
    width: 90vw;
  }

  .pict {
    width: 30vw;
  }

  .icon {
    width: 5vh;
    height: 5vh;
    margin : auto
  }

  .phone {
    display: none;
  }

  .modal {
    height: 80vh;
    margin : auto;
    background-color:antiquewhite;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    top: 15%;
    overflow: auto; 
    border-radius: 10px;
    display: none;
    padding-left: 20px;
  }


  .button {
    width: 20px;
    height: 20px;
    color:antiquewhite;
    position:relative;
    border: solid antiquewhite 1px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button:hover ~ .modal {
    display: block;
  }

  .modal:hover {
    display: block;
  }

  .modal > div > h2, .modal > div > p, .modal > div > li {
    color :#171717;
  }
}

@media only screen and (min-width: 1200px) { /* PC */
  .ex-pro > div {
    opacity: 0.5;
  }

  .ex-pro {
    margin-top : 100px;
    margin-bottom : 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .pc {
    display : none
  }

  .border {
    padding: 20px;
    border: solid antiquewhite 2px;
    border-radius: 5px;
  }

  .ex-pro > div {
    opacity: 0.5;
  }
  
  .ex-pro > div:hover {
    opacity: 1;
  }
}