@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


 .slides {
  height: 10VH;
   align-items: center;
 }
 .tooltip {
   position: absolute;
   background: #333;
   color: #fff;
   padding: 5px 10px;
   border-radius: 5px;
   font-size: 12px;
   white-space: nowrap;
   visibility: hidden;
   opacity: 0;
   transition: opacity 0.2s ease;
   z-index: 10;
 }

 .styled-container {
   background-color: #2A405B;
   border-radius: 8px;
   color: white;
   padding: 16px;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
 }

 .slide {
   width: 100%;
   display: flex;
   justify-content: center;
 }
    
        img {
          width: 40%;
        }
.font-big {
    font-family: "Freeman", sans-serif;
    font-size: x-large;
}

[last] {
    position: relative;
    top: -50%;
}

[first] {
    position: relative;
    top: 25%;
}

.flex {
    display: flex;
}

.font-small {
    font-size: 10pt;
}


.font-bigger {
    font-size: 30pt;
}

body {
    width: 100%;
    background-color: white;
    /* rgba(252, 252, 252, 0.9); */
    margin : 0px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

.main-content {
    background-color: white;
    width: 90%;
    margin: 0 auto;
    padding: 0 8px 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.formation-index {
  padding: 5px;
  background-color: #4f4f4f;
  border-radius: 10px;
  margin: 2px;
  color: white;
}

[id^=experience-item-index] {
  display: flex;
  flex-wrap: wrap;
}
[id^=content] {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#action-formation-list, #action-experience-list, #action-eip-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#content-info {
  height: 100VH;
}
#action-eip-content {
  overflow: hidden;
    justify-content: space-evenly;
}
#eip-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#eip-pict {
    width: 60%;
    margin: 0 auto;
    cursor: pointer;
}

#eip-pict-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1;
}


#loisir-list {
    height: 100%;
    width: 100%;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
}

#job {
    margin-bottom: 8px;
    font-size: x-large;
}

#info {
   width: 100%;
}


#pict-container {
    transform: scaleX(-1);
    height: 25vh;
    width: 100%;
    object-fit: cover;
    display: flex;
    margin: 0 auto;
}

li {
    list-style: none;
}

#nav {
    height: 20vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-auto-rows: 1fr;
    grid-row-gap: 10px;
    font-size: x-small;
}

#sec-nav {
    height: 10vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-auto-rows: 1fr;
    grid-row-gap: 10px;
    font-size: x-small;
}



.nav-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4px;
    box-shadow: 2px 6px 27px -15px #000000;
    border-radius: 8px;
    background-color: rgba(252, 252, 252, 0.1);
    cursor: pointer;
}



.nav-item:hover {
    box-shadow: 2px 6px 27px -25px #000000 inset;
}

[selected=true] {

    box-shadow: 2px 6px 27px -30px #000000 inset;
}

#footer {
    width: 100%;
    display: flex;
    flex-direction: row;
}
#link {
    flex: 1;
    display: flex;
   
    flex-direction: row;
}

#contact {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}

.footer-link {
    width: 30px;
    display: flex;
    margin: auto;
}

.dote {
    width: 12px;
    background-color: #000000;
    position: relative;
    left: -50%;
    border-radius: 50%;
    aspect-ratio: 1;
}

.text-small {
    font-size: small;
}
.text-very-small {
    font-size: x-small;
}

.light {
    font-weight: 300;
}

.semi-bold {
    font-weight: 500;
}

#loisir-dote {
    left: -25%;
}

#loisir-line {
justify-content: space-between;
}

.line {
    height: 150px;
    width: 2px;
    background-color: black;
    margin: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
[id^=formation-container] {
    display: flex;
    flex: 1;
    align-items: center;
    min-height: 100px;
}

[id^=experience-container] {
    display: flex;
    flex: 1;
    align-items: center;
    min-height: 150px;
}
[id^=loisir-container] {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    text-align: start;
}

#competence-chart {
  width: 100%;
}
[id^=loisir-item] {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

[id^=loisir-item-desc] {
    gap: 20px;
    text-align: start;
    width: 100%;
    display: flex;
    justify-content: center;
}

[id^=formation-item-date], [id^=experience-item-date] {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.dote-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0px 4px;
}

.mobil-hide {
    display: none;
}

@media only screen and (min-width: 600px) {
    .main-content {
        width: 60%;
    }

    #info {
        text-align: center;
    }

    [id^=formation-item-date], [id^=experience-item-date-lenght] {
        font-size: large;
    }

    .dote {
        width: 20px;
    }

    .dote-container {
        padding: 0px 16px;
    }
    #action-eip-content {
        flex-direction: row;
        align-items: center;
        gap: 10%
    }
    #eip-text {
        font-size: large;
        text-align: end;
    }

    .mobil-hide {
        display: block;
    }

    #sec-nav {
        height: 5vh;
        display: flex;
        justify-content: stretch;
        align-items: stretch;
        gap: 8px;
        overflow: hidden;
        margin: auto;
        padding: 20px 0px;

    }
}

#stars-container {
  display: flex;
}

.star {
  font-size: 30px;
  color: #d3d3d3;
  /* Couleur par défaut (vide) */
  cursor: pointer;
}

.star.filled {
  color: #ffd700;
  /* Couleur pour une étoile pleine */
}
