@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freeman&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --backgroud-color: #F3EFE0;/*rgb(22, 22, 22); */
    --container-color: #FEFFEE; /*rgb(19, 16, 19); */
    --border-color: #4d1211a2; /* rgba(155, 119, 14, 0.7);*/
    --text-color:  black;/* beige;*/
    --bold-color:  black;/* White;*/
    --dote-color:  #721817;/* rgb(250, 231, 255);*/
 }

.font-big {
    font-family: "Freeman", sans-serif;
    font-size: xx-large;
}

[last] {
    position: relative;
    top: -50%;
}

[first] {
    position: relative;
    top: 25%;
}

.flex {
    display: flex;
}

.font-small {
    font-size: 10pt;
}

.font-bigger {
    font-size: 30pt;
    padding-bottom: 12px;
}

body {
    width: 100%;
    background-color: white;
    /* rgba(252, 252, 252, 0.9); */
    margin : 0px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    position: fixed;
  }

.main-content {
    background-color: white;
    height: 95VH;
    width: 80%;
    margin: 0 auto;
    padding: 0 8px 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 [id^=content] {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#action-formation-list, #action-experience-list, #action-eip-content {
    height: 100%;
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

#action-eip-content {
    overflow: hidden;
    justify-content: space-evenly;
}
#eip-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#eip-pict {
    width: 60%;
    margin: 0 auto;
    cursor: pointer;
}

#eip-pict-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1;
}


#loisir-list {
    height: 100%;
    width: 100%;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
}

#job {
    margin-bottom: 8px;
    font-size: x-large;
}

#info {
   width: 100%;
}


#pict-container {
    height: 25vh;
    width: 100%;
    object-fit: cover;
    display: flex;
    margin: 0 auto;
}

li {
    list-style: none;
}

#nav {
    height: 20vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-auto-rows: 1fr;
    grid-row-gap: 10px;
    font-size: x-small;
}

#sec-nav {
    height: 10vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-auto-rows: 1fr;
    grid-row-gap: 10px;
    font-size: x-small;
}



.nav-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4px;
    box-shadow: 2px 6px 27px -15px #000000;
    border-radius: 8px;
    background-color: rgba(252, 252, 252, 0.1);
    cursor: pointer;
}



.nav-item:hover {
    box-shadow: 2px 6px 27px -25px #000000 inset;
}

[selected=true] {

    box-shadow: 2px 6px 27px -30px #000000 inset;
}

#footer {
    width: 100%;
    display: flex;
    flex-direction: row;
}
#link {
    flex: 1;
    display: flex;
   
    flex-direction: row;
}

#contact {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}

.footer-link {
    width: 30px;
    display: flex;
    margin: auto;
}

.dote {
    width: 12px;
    background-color: #000000;
    position: relative;
    left: -50%;
    border-radius: 50%;
    aspect-ratio: 1;
}

.text-small {
    font-size: small;
}
.text-very-small {
    font-size: x-small;
}

.light {
    font-weight: 300;
}

.semi-bold {
    font-weight: 500;
}

#loisir-dote {
    left: -25%;
}

#loisir-line {
height: 50%;
justify-content: space-between;
}

.line {
    width: 2px;
    height: 100%;
    background-color: black;
    margin: 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
[id^=formation-container] {
    display: flex;
    flex: 1;
    align-items: center;
    min-height: 100px;
}

[id^=experience-container] {
    display: flex;
    flex: 1;
    align-items: center;
    min-height: 150px;
}
[id^=loisir-container] {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    text-align: start;
}

[id^=loisir-item] {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

[id^=loisir-item-desc] {
    gap: 20px;
    text-align: start;
    width: 100%;
    display: flex;
    justify-content: center;
}

[id^=formation-item-date], [id^=experience-item-date] {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.dote-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0px 4px;
}

.mobil-hide {
    display: none;
}

@media only screen and (min-width: 600px) {
    .main-content {
        width: 60%;
    }

    #info {
        text-align: center;
    }

    [id^=formation-item-date], [id^=experience-item-date-lenght] {
        font-size: large;
    }

    .dote {
        width: 20px;
    }

    .dote-container {
        padding: 0px 16px;
    }
    #action-eip-content {
        flex-direction: row;
        align-items: center;
        gap: 10%
    }
    #eip-text {
        font-size: large;
        text-align: end;
    }

    .mobil-hide {
        display: block;
    }

    #sec-nav {
        height: 5vh;
        display: flex;
        justify-content: stretch;
        align-items: stretch;
        gap: 8px;
        overflow: hidden;
        margin: auto;
        padding: 20px 0px;

    }
}

