.Header {
  background-color: #282c34;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.Title-Container {
  display: flex;
  padding-left: 20vw;
}

.Title + .Title{
  padding-left: 5vw;
}

.Title {
  font-size: calc(1vmin + 1.5vmax);
  align-items: center;
  text-align: center;
}

.Title:nth-child(1) {
  float: left;
  padding-left: 20px;
}

.Title:hover {
  text-decoration: underline;
}