.Header {
  background-color: #e5e5e5;
  top: 0px;
  text-align: center;
  justify-content: flex-end;
  align-items: center;
  padding-top: 2vh;
  margin-bottom: 5vh;
}

.Title-Container {
  display: flex;
  padding-left: 10vw;
  }

.Title + .Title{
  padding-left: 5vw  ;
}

.Title {
  font-size: calc(1vmin + 1.5vmax);
  align-items: center;
  text-align: center;
}

.Title:nth-child(1) {
  float: left;
  padding-left: 20px;
}

.Title:hover {
  text-decoration: underline;
}