.Pict-container {
    padding-left: 10vw;
    width: 30vw;
    border: 10px black;



}

.Pict-container-front, .Pict-container-back {
    align-items: center;
    justify-content: space-around;
    display: flex;
    padding-top: 20px;

}
.Language {
    width: 10vh;
    background-color: aqua;
    border-radius: 100%;


}