*,*:before,*:after {box-sizing:inherit;margin:0; padding:20; border:0 none; position: relative;}

html {
	box-sizing:border-box;
	font-size: 1rem;
}

.part {
	border: 3px solid green;
	margin-left: 10px;
	margin-right: 10px;
	border-color : black;
	opacity: 0.1;
}

.part:hover {
	opacity: 1;
}

.part + .part {
	margin-top: 20px;
}

.container {
	display: flex;
	padding-bottom: 20px;
}

h1 {
	text-align: center;
	font-weight: bold;
}

.right-container {
	margin-right: 15vw;
	margin-left : auto
}

.left-container {
	margin-left: 15vw;
}