body {
	background-color: antiquewhite;
	color : antiquewhite;
	scroll-snap-type: y mandatory;
	overflow-x: hidden;

}

.Main-container {
	display: flex;
	height: 100vh;
	width: 100vw;
}

.Left-container {
	border-radius: 5px;
	left: 2.5vh;
	background-image: linear-gradient(to bottom right,rgb(56, 85, 124) , rgb(56, 85, 124), rgb(56, 85, 124), rgb(112, 156, 214));
	height: 95vh;
	margin : auto;
	z-index: 1;
}

.size-1-left {
	width: 70vw;
}

.size-1-right {
	width: 25vw;
}

.size-2-left {
	width: 80vw;
}

.size-2-right {
	width: 15vw;
}

.size-3-left {
	width: 15vw;
}

.size-3-right {
	width: 80vw;
}

.Right-container {
	border-radius: 5px;
	right: 2.5vh;
	background-image: linear-gradient(to bottom left,rgb(3, 50, 112) , rgb(3, 50, 112), rgb(3, 50, 112), rgb(112, 156, 214));
	height: 95vh;
	margin : auto;
}

.Text-container {
	padding-left: 5vw;
	height: 100%;
}

.xp {
	font-size: 2vh;
}

.Info-node {
	padding-right: 10px;
	align-self: end;
	font-size: 1.5vw;
}

.Date-node {
	align-self: center;
	font-size : calc(2vh + 1 vw);

}

.Flex-col {
	height: 80%;
	padding-top: -20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.Flex-row {
	display : flex;
}

.pict {
	width: 25vw;
	position:absolute;
  	right: 15vw;
	top: 10vh;
	border-radius: 20px;
	z-index: 2;
}

.Space-between + .Space-between {
	margin-top: 20%;
}

h1 {
	font-size: 5vw;
	padding-top: 2vh;
	line-height: 1%;
}

h2 {
	font-size : 3vw;
	line-height: 4%;

}

p, li {
	font-size: 2vw;

}

li {
	margin-left: 2vw;
}
